#headerRow {
    background-color: #8f5db0;
    padding: 10px;
}

body {
    padding: 0;
    margin: 0;
}

#rob {
    height: 700px;
    width: 100%;
    border-style: solid;
    border-color: #8F5DB0
}

.axis {
    font: 15px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

label {
    font-size: 15pt;
}

body,
html {
    height: 100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    text-align: center;
    background: #8F5DB0;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.legend {
    background-color: “black”;
    line-height: 25px;
    color: #555;
    width: auto;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info h5 {
    margin: 0 0 5px;
    color: #8F5DB0;
    font: 12px;
}


/*
/ below Carl's required items
*/

#carl {
    width: 100%;
}


/*selection box for top Titles*/

#carl #topN {
    width: 100px;
    height: 25px;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: lightblue;
}


/*mouseover displaying Title and Count*/

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(43, 41, 41, 0.8);
    color: #fff;
    border-radius: 2px;
}


/*pointer to bar*/

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}