<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Local CSS -->
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
        <!-- BS CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <!-- BS JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Project-3</h1>
        <p>{{data}}</p>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script src='static/js/config.js'></script>
        <script src='static/js/script.js'></script>
    </body>
</html>