<!DOCTYPE html>
<html lang='en'>

<head>
    <link href='../static/css/style.css' rel='stylesheet' />
</head>

<body>
    <div id='carl' style='margin:10px' class='row'>
        Top N : &nbsp;
        <select id="topN" onchange="onSelect()">
            <option>5</option>
            <option>10</option>
        </select>
        <div id="chart" style="text-align:center">
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js'></script>
    <script src='https://d3js.org/d3.v3.min.js'></script>
    <script src='../static/js/carl.js'></script>
</body>

</html>