<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Local CSS 
        <link href='static/js/script.js' rel="stylesheet"/>-->
        <!-- BS CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <!-- BS JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <h1>Project-3</h1>
            </div>

            <div id='UI' class='row'>
                <form action="/action_page.php">
                    <label for="jobType">Job Type</label>
                    <input id='jobType' type="text" name="jobType"><br><br>
                    <label for="location">Location</label>
                    <input id='location' type="text" name="location"><br><br>
                    <input type="submit" value="Submit">
                  </form>
            </div>
            
            <div id='map' class='row'>

            </div>
            <div id='top-companies' class='row'>
                
            </div>
            <div id='salaryGauge' class='row'>
                
            </div>
            
        </div>
        <!-- Run js -->
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script src='static/js/data.js' indata='{{data|tojson|safe}}'></script>
        <script src='static/js/map.js'></script>
        <script src='static/js/topcompanies.js'></script>
        <script src='static/js/gauge.js'></script>
    </body>
</html>

